<mat-toolbar color="primary">
    <div class="spacer"></div>
    <a mat-button routerLink="/" routerLinkActive="active" >Login</a>
     <a mat-button routerLink="/signup" routerLinkActive="active" >Sign up</a>
     <a mat-button>About</a>
     <a mat-button>Contact</a>
     <!-- <button mat-fab extended>
        <mat-icon>home</mat-icon>
        Home
      </button> -->
      <a routerLink="/home">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      </a>
</mat-toolbar>